body {
  cursor: default;
}

.is-monospace {
  font-family: monospace;
}

.is-danger.is-5e {
  background-color: #df0000;
}
button.is-5e:hover {
  background-color: #9c0c0f !important;
}

.dl-code {
  display: inline-block;
  margin-top: 10px;
  border-radius: 10px;
}

.dl-entry {
  position: relative;
}
.dl-entry-result {
  min-width: 60px;
}
.dl-entry-message {
  min-height: 15px;
}
.dl-entry-message-blank {
  text-align: center;
  background-color: white !important;
  border: none !important;
}
.dl-entry-bottom {
}

.dl-log-name {
  display: none;
}
.dl-page-home .dl-log-name {
  display: inline;
}

.navbar-brand:hover .navbar-item {
  background-color: transparent;
  color: #df0000;
}

.dl-log-name a:hover {
  text-decoration: underline;
}
.dl-log-name a strong {
  color: #df0000 !important;
}
